body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-bottom: 1px solid white;
}

header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-left: 200px; /* Adiciona margem à esquerda para acomodar a navegação */
}

header img {
    width: 100%;
    height: auto;
}

.content {
    padding: 20px;
    margin-left: 220px; /* Deixa espaço para a navegação à esquerda */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
